
.vs/ASP.NET-Core/v15/Server/sqlite3/storage.ide-shm
WebApplication3/obj/Debug/netcoreapp2.0/WebApplication3.dll
WebApplication3/obj/Debug/netcoreapp2.0/WebApplication3.pdb
WebApplication3/obj/project.assets.json
WebApplication3/obj/WebApplication3.csproj.nuget.cache
*.ide
*.ide-wal
*.config
*.props
*.cache
WebApplication3/obj/project.assets.json
WebApplication3/obj/Debug/netcoreapp2.0/WebApplication3.pdb
WebApplication3/obj/Debug/netcoreapp2.0/WebApplication3.dll
WebApplication3/obj/Debug/netcoreapp2.0/WebApplication3.csproj.FileListAbsolute.txt
WebApplication3/bin/Debug/netcoreapp2.0/WebApplication3.pdb
WebApplication3/bin/Debug/netcoreapp2.0/WebApplication3.dll
.vs/ASP.NET-Core/v15/Server/sqlite3/db.lock
WebApplication3/obj/WebApplication3.csproj.nuget.g.props
WebApplication3/obj/WebApplication3.csproj.nuget.cache
WebApplication3/obj/project.assets.json
WebApplication3/obj/Debug/netcoreapp2.0/WebApplication3.pdb
WebApplication3/obj/Debug/netcoreapp2.0/WebApplication3.dll
WebApplication3/obj/Debug/netcoreapp2.0/WebApplication3.csproj.FileListAbsolute.txt
WebApplication3/bin/Debug/netcoreapp2.0/WebApplication3.pdb
WebApplication3/bin/Debug/netcoreapp2.0/WebApplication3.dll
.vs/ASP.NET-Core/v15/.suo
WebApplication3/bin/Debug/netcoreapp2.0/WebApplication3.dll
